.item-container {
position: relative;
}

.item-links {
position: relative;
display: block;
padding: 90px 0px 0px 0px;
}

.item-filter {
position: absolute;
display: block;
top: 10px;
}

.filter-select {
display: block;
min-width: 300px;
width: 100%;
padding-right: 30px;
}